
<div class="container">
  <div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-content">
        
          <div class="page-header">
            <h1>Control de ingreso</h1>
          </div>
        
          <div class="input-field col s6"> 
            <select class="browser-default ">
              <option value="" disabled selected>Escoja una organizacion</option>
              <%= options_from_collection_for_select(Organization.all, :id, :name) %>
            </select>
          </div>
          <div class="input-field col s6">
            <label for="HojaIngreso">Numero Hoja de Ingreso</label>
            <input id="HojaIngreso" type="text" class="validate">
          </div>

          <div class="input-field col s6">
            <label for="recibido">Recibido por</label>
            <input id="recibido" type="text" class="validate">
          </div>
          <div class="input-field col s6">
            <label for="entregado">Entregado por</label>
            <input id="entregado" type="text" class="validate">
          </div>

          <div class="input-field col s3">
            <label for="peso">Peso en Libras</label>
            <input id="peso" type="text" class="validate">
          </div>
          <div class="input-field col s5">
            <label for="centroPost">Centro Post-Cosecha</label>
            <input id="centroPost" type="text" class="validate">
          </div>
          <div class="col s4">
            <label>Calidad</label>
            <select class="browser-default ">
              <option value="" disabled selected>Escoja una calidad</option>
              <%= options_from_collection_for_select(CocoaType.all, :id, :name) %>
            </select>
          </div>

          <div class="col s4">
            <label>Variedad</label>
            <select class="browser-default ">
              <option value="" disabled selected>Escoja una variedad</option>
              <%= options_from_collection_for_select(GeneticMaterial.all, :id, :name) %>
            </select>
          </div>
          <div class="col s8">
          <form action="#">
          <p>
            <input type="checkbox" id="test5" />
            <label for="test5">Fair Trade</label>
          </p>
          </div>
          <div class="col s4">
            <label>Certificado</label>
            <select class="browser-default ">
              <option value="" disabled selected>Escoja un Certificado</option>
              <%= options_from_collection_for_select(CertificateType.all, :id, :name) %>
            </select>
          </div>

          <%= link_to "Cancelar", '/entry_controls' , class: "btn btn-primary"%>
          

          <%= form_for [@entryControl, @batch] do |f| %>
            <div class="input-field">
              <%= f.label :sackAmount, "Cantidad de sacos" %>
              <%= f.number_field :sackAmount, min: 0 , :required => true %>
            </div>

            <div class="input-field">
              <%= f.label :weight, "Peso en libras" %>
              <%= f.number_field :weight, step: :any, min: 0 , :required => true %>
            </div>
          <% end %>
          
    
          
          
          
 
         
          
        </div>
      </div>
    </div>
  </div>
</div>