<h1>Control de ingreso</h1>

<%= form_for [@organization, @organization.entry_controls.build] do |f| %>

	<p>
		Cooperativa: <%= @organization.name %>
	</p>

	<p>
		Fecha de Ingreso: <%= f.text_field :entryDate, value: Date.today %>
	</p>

	<p>
		Tasa de Cambio(USD/LPS): <%= f.text_field :exchangeRate, value:23.80 %>
	</p>
	
	<p>
		<%= f.label :receivedBy, "Recibido por" %>
		<%= f.text_field :receivedBy %>
	</p>

	<p>
		<%= f.label :deliveredBy, "Entregado por" %>
		<%= f.text_field :deliveredBy %>
	</p>

	<p>
		<%= f.submit "Aceptar", class:"btn btn-default btn-lg" %>
	</p>
<% end %>