<div class="container">
  <div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-content">
          <%= form_for [@organization, @organization.entry_controls.build] do |f| %>
            <div class="page-header">
              <h1>Control de ingreso</h1>
            </div>
            <p>
              Cooperativa:
              <%= @organization.name %>
            </p>

            <p>
              <%= f.label :entryDate, "Fecha de ingreso" %>
              <%= f.date_field :entryDate, value: Date.today, :readonly => true %>
            </p>

            <p>
              <%= f.label :exchangeRate, "Tasa de cambio(USD/LPS)" %>
              <%= f.number_field :exchangeRate, value:23.80, :readonly => true %>
            </p>

            <div class="input-field">
              <%= f.label :entry_number, "Numero de Hoja de Ingreso" %>
              <%= f.number_field :entry_number%>
            </div>

            <div class="input-field">
              <%= f.label :receivedBy, "Recibido por" %>
              <%= f.text_field :receivedBy %>
            </div>

            <div class="input-field">
              <%= f.label :deliveredBy, "Entregado por" %>
              <%= f.text_field :deliveredBy %>
            </div>

            <p>
              <%= f.label :ec_files, "Archivo" %><br>
              <%= f.file_field :ec_files %>
            </p><br>

            <p>
              <%= f.submit "Aceptar", class:"btn btn-default btn-lg" %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
