<div class="container">
  <div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-content">
          <%= form_for [@organization, @organization.entry_controls.build] do |f| %>
            <%= f.hidden_field :entryDate, :value => Date.today %>
            <%= f.hidden_field :exchangeRate, :value => 32.80 %>
            <div class="page-header">
              <h1>Control de ingreso</h1>
            </div>
            <p>
              Cooperativa:
              <%= @organization.name %>
            </p>

            <div class="input-field">
              <%= f.label :entry_number, "Número de hoja de ingreso" %>
              <%= f.number_field :entry_number, min: 0 %>
            </div>

            <div class="input-field">
              <%= f.label :receivedBy, "Recibido por" %>
              <%= f.text_field :receivedBy %>
            </div>

            <div class="input-field">
              <%= f.label :deliveredBy, "Entregado por" %>
              <%= f.text_field :deliveredBy %>
            </div>

            <p>
              <%= f.label :ec_files, "Archivo" %><br>
              <%= f.file_field :ec_files %>
            </p><br>

            <p>
              <%= f.submit "Aceptar", class:"btn btn-default btn-lg" %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
