<div class="container">
  <div class="row">
    <div class="col m12">

      <div class = "card">
        <div class = "card-content">
            <div class="page-header"> <h1>Control de hoja de ingreso</h1> </div>

              <table class="striped bordered">
              <thead>
                <tr>
                  <th>Proveedor:</th>
                  <th>Entregado por:</th>
                  <th>Recibido por:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <%= Organization.find(@entry.organization_id).name%>
                  </td>
                  <td>
                    <%= @entry.receivedBy %>
                  <td>
                    <%= @entry.deliveredBy %>
                  </td>
                </tr>
              </tbody>
            </table>

        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <div class="page-header">
            <h1> <i class="material-icons">view_list</i> LOTES</h1>
          </div>
          <div>

            <table class="striped bordered">
              <thead>
                <tr>
                  <th>Peso en Libras</th>
                  <th>Código de proveedor</th>
                  <th>Sello</th>
                  <th>Calidad</th>
                  <th>Variedad</th>
                  <th>Comercio justo</th>
                </tr>
              </thead>
              <tbody>
                <% @batches.each do |batch| %>
                  <tr >
                     <td>
                      <%= number_with_precision(batch.weight, precision: 2) %> lb
                    </td>

                    <td>
                      <%= batch.enterCode %>
                    </td>

                    <td>
                      <%= CertificateType.find(batch.certificatetype).name %>
                    </td>

                    <td>
                      <%= CocoaType.find(batch.cocoaType).name %>
                    </td>

                    <td>
                      <%= GeneticMaterial.find(batch.geneticMaterial).name %>
                    </td>

                    <td>
                      <%= "?" %>
                    </td>

                    <td >
                        <%= link_to "", new_batch_barcode_path(batch),class:"fa fa-barcode fa-1x changeiconC" %>
                    </td>

                    <% if current_user.warehouse_role || current_user.admin_role %>
                    <td >
                      <%= link_to '', edit_batch_path(batch), class: "fa fa-pencil-square-o fa-1x changeiconE" %>
                    </td>
                      <td>
                        <%= link_to '', batch_path(batch), method: :delete, data: { confirm: 'Esta seguro(a) que desea eliminar el lote?' }, class: "fa fa-trash fa-1x changeiconD" %>
                      </td>

                    <% end %>

                    <% if current_user.quality_role && ((SensoryAnalysis.where(batch_id: batch.id).present? && QualityControl.where(batch_id: batch.id).present?)) || (QualityControl.where(batch_id: batch.id).present? && SensoryAnalysis.where(batch_id: batch.id).blank? && !@qc_results.nil? && !@qc_results[batch.id].eql?("A"))%>
                      <td><%= link_to "", batch.quality_control, class: "fa fa-bar-chart fa-1x changeiconE" %></td>
                    <% end %>

                    <% if current_user.quality_role && QualityControl.where(batch_id: batch.id).blank? %>
                      <td ><%= link_to '', edit_batch_path(batch), class: "fa fa-hashtag fa-1x changeiconE" %></td>
                    <%end%>

                    <% if current_user.quality_role && QualityControl.where(batch_id: batch.id).blank? %>
                      <td >
                        <%= link_to "", new_batch_quality_control_path(batch), class: "fa fa-pie-chart fa-1x changeiconD"%>
                      </td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <% if current_user.quality_role && SensoryAnalysis.where(batch_id: batch.id).blank? && QualityControl.where(batch_id: batch.id).present? && !@qc_results.nil? && @qc_results[batch.id].eql?("A")%>

                      <td>
                        <%= link_to "Análisis sensorial", edit_batch_path(batch),class: "fa fa-sellsy changeiconD"%>
                      </td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <% if current_user.admin_role and not batch.quality_control.nil? %>
                      <td>
                        <%= link_to "Editar análisis físico", edit_quality_control_path(batch.quality_control.id),class: "waves-effect waves-light btn" %>
                      </td>
                    <% end %>


                  </tr>
                <% end %>

              </tbody>
            </table>

            <% if current_user.warehouse_role %>
              <br>
              <%= link_to 'Agregar lote', new_entry_control_batch_path(@entry), class:"waves-effect waves-light btn"%>
            <% end %>
          </div><br>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <div class="row">
                <% if current_user.warehouse_role || current_user.admin_role %>
                  <div class="page-header">
                    <h1> <i class="material-icons">description</i> DOCUMENTOS</h1>
                  </div>
                  <div class="col s3">
                    <% if @entry.filechecklists.empty? %>
                      <%= link_to "Verificar documentos", new_entry_control_filechecklist_path(@entry), class:"waves-effect waves-light btn" %>
                    <% else %>
                      <%= link_to "Verificar documentos", edit_filechecklist_path(@entry.filechecklists.first), class:"waves-effect waves-light btn" %>
                    <% end %>
                  </div>
                <% end %>
                <div class="col s3">
                  <%= link_to "Regresar", quality_controls_path , class: "btn btn-primary"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
