<h1>Ingreso de lotes</h1>

<p>
    Organización: 
    <%= Organization.find(@entry.organization_id).name %>
</p>

<p>
    Recibido por:
    <%= @entry.receivedBy %>
</p>

<p>
    Entregado por:
    <%= @entry.deliveredBy %>
</p>

<div class="row">
    <div class="col m12">
        <div class="card">
            <div class="card-content">
                <h2>Lotes</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Cant. sacos</th>
                            <th>Peso libras</th>
                            <th>Codigo de identificación</th>
                            <th>Tipo de cacao</th>
                            <th>Material genético</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @batches.each do |batch| %>
                            <tr>
                                <td><%= batch.sackAmount %></td>
                                <td><%= batch.weight %></td>
                                <td><%= batch.enterCode %></td>
                                <td><%= batch.cocoaType %></td>
                                <td><%= batch.geneticMaterial %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div> 
        </div> 
    </div> 
</div> 
<%= link_to 'Agregar lote', new_entry_control_batch_path(@entry) , class:"waves-effect waves-light btn"%>