<div class="container">
    <div class="row">
        <div class="col m12">
            <div class="card">
                <div class="card-content">
                    <div class="page-header">
                        <h1>Facturas</h1>
                    </div>
                    <table class="striped bordered">
                        <thead>
                            <tr>
                                <th>Código de lote</th>
                                <% if current_user.purchase_role %>
                                    <th></th>
                                <% end %>
                            </tr>
                        </thead>
                        <tbody>
                            <% if not @invoices.nil? %>
                                <% @invoices.each do |invoice| %>
                                    <tr>
                                        <td>
                                            <%= invoice.batch.enterCode %>
                                        </td>
                                        <% if current_user.purchase_role %>
                                            <%= form_for [invoice] do |f| %>
                                                <td>
                                                    <%= button_tag(type: 'submit', class: "btn") do %>
                                                        <i class="icon-ok icon-white"></i>Marcar como pagado
                                                    <% end %>
                                                    <% if invoice.batch.entry_control.filechecklists.empty? %>
                                                            <%= link_to "Agregar factura", new_entry_control_filechecklist_path(invoice.batch.entry_control), class:"waves-effect waves-light btn" %>
                                                    <% else %>
                                                            <%= link_to "Agregar factura", edit_filechecklist_path(invoice.batch.entry_control.filechecklists.first), class:"waves-effect waves-light btn" %>
                                                    <% end %> 
                                                </td>
                                            <% end %>
                                        <% end %>
                                    </tr>
                                <% end %>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        if (document.URL.indexOf("#") == -1) {
            url = document.URL + "#";
            location = "#";
            location.reload(true);
        }
    });
</script>