<div class="container-login">
<br>
  <center><%= image_tag("newCHlogo.png", height: '271', width: '475')%></center>
<div class="form-login">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row center-block">
        <div class="col m12 center">
          <div class="card white darken-1">
            <div class="card-content black-text">
              <% if notice %>
                  <p class="alert alert-success">
                    <script>
                        $(function() {
                            Materialize.toast("<%= notice %>", 3000);
                        });
                    </script>
                  </p>
              <% end %>
              <% if alert %>
                  <p class="alert alert-danger">
                    <script>
                        $(function() {
                            Materialize.toast("<%= alert %>", 3000);
                        });
                    </script>
                  </p>
              <% end %>

              <div class="input-field">
                <%= f.text_field :email, autofocus: true %>
                <%= f.label :Usuario, "Usuario" %><br />
              </div>

              <div class="input-field">
                <%= f.password_field :password, autocomplete: "off" %>
                <%= f.label :Contraseña, "Contraseña" %><br />
              </div>

              <br>
              <div class="actions">
                <%= f.submit "Iniciar sesión" ,class: "waves-effect waves-light btn" %>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
</div>
