<div class="container">
  <div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-content">
          <div class="page-header">
            <h1>Chequeo de Lotes</h1>
          </div>
          <table class="striped">
            <thead>
              <tr>
                <th>Lote</th>
                <th>Control de Ingreso</th>
                <th>Organización</th>
                <th>Fecha de Ingreso</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <% @checkings.each do |check| %>
              <% if check.certificate_checks.where(pertain: check.batch_id, decision: 1).count == 0 %>
                <tr>
                  <td><%= check.batch.enterCode %></td>
                  <td><%=	check.batch.entry_control.entry_number %></td>
                  <td><%=	check.batch.entry_control.organization.name %></td>
                  <td><%=	check.batch.entry_control.entryDate %></td>
                  <td><%=	link_to "Revisar", check %></td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>