<h1>Analisis de calidad</h1>

<%= form_for [@batch, @qualityControl] do |f| %>
	<p>
		Cooperativa/Proveedor:
		<%= @batch.entry_control.organization.name %>
	</p>

	<p>
		Fecha de Ingreso
		<%= @batch.entry_control.entryDate %>
	</p>

	<p>
		Codigo de Muestra
		<%= @batch.enterCode %>
	</p>

	<p>
		Peso final Libras
		<%= @batch.weight %>
	</p>

	<p>
		<%= f.label :cut_at, "Fecha P. Corte" %>
		<%= f.date_field :cut_at, value: Date.today, :readonly => true %>
	</p>

	<p>
		<%= f.label :code, "No." %>
		<%= f.text_field :code %>
	</p>


	<%= f.check_box :f_harvest %>
	<%= f.label 'f_harvest', "Primera cosecha" %><br>

	<%= f.check_box :s_harvest %>
	<%= f.label 's_harvest', "Segunda cosecha" %><br>

	<%= f.check_box :trinitary %>
	<%= f.label 'trinitary', "Trinitario" %><br>

	<%= f.check_box :outsider %>
	<%= f.label 'outsider', "Forastero" %>

	<p>
		<%= f.label :observation, "Observación" %>
		<%= f.text_field :observation %>
	</p>

	<p>
		<%= f.label :made_by, "Persona responsable" %>
		<%= f.text_field :made_by %>
	</p>

	<% Category.all.order(:place).each do |category| %>
		<table class="highlight">
			<tr>
				<th><%= category.name %></th>
				<% (1..category.runs).each do |i| %>
					<th><%= i %></th>
				<% end %>
			</tr>
			<% category.parameters.order(:place).each do |parameter| %>
				<tr>
					<td width="7%"><%= parameter.name %></td>
					<% (1..category.runs).each do |i| %>
						<td width="7%"><%= f.number_field :code %></td>
					<% end %>
				</tr>
				<% end %>
		</table>
	<% end %>

	<p>
		<%= f.submit "Aceptar", class:"btn btn-default btn-lg" %>
	</p>
<% end %>