<div class="container">
  <div class="row">
    <div class="col m12">
      <%= form_for [@batch, @qualityControl] do |f| %>
        <%= f.hidden_field :cut_at, :value => Date.today %>
        <div class="card">
          <div class="card-content">
            <div class="page-header">
              <h1>Análisis de calidad</h1>
            </div>

            <table class="striped bordered">
              <thead>
                <tr>
                  <th>Cooperativa/Proveedor:</th>
                  <th>Código de muestra:</th>
                  <th>Peso final:</th>
                  <th>Fecha de ingreso:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= @batch.entry_control.organization.name %></td>
                  <td><%= @batch.enterCode %></td>
                  <td><%= number_with_precision(@batch.weight, precision: 2) %> lb</td>
                  <td><%= @batch.entry_control.entryDate %></td>
                </tr>
              </tbody>
            </table><br>

            <div class="card">
              <div  class="page-header">
                <h1><i class="material-icons">chrome_reader_mode</i> DATOS GENERALES</h1>
              </div>
              <div class="card-content">
                <div class="row">
                  <div class="input-field col s2">
                    <%= f.label :code, "Número de hoja" %>
                    <%= f.text_field :code , :required => true, :readonly => true,  value: Time.now.day.to_s.rjust(2, '0')+ Time.now.month.to_s.rjust(2, '0') + Time.now.year.to_s + (Sequence.find_by(year: Time.now.year, day: Time.now.day)).number.to_s.rjust(2, '0'), rating: 4 %>
                  </div>
                  <div class="input-field col s10">
                    <%= f.label :made_by, "Persona responsable" %>
                    <%= f.text_field :made_by , :required => true%>
                  </div>
                </div>
              </div>
            </div>
 
            <div class="card">
              <div class="page-header">
                <h1><i class="material-icons">insert_chart</i> DATOS DE ANALISIS</h1>
              </div>
              <div class="card-content">
                <% Category.where(sensory: false).order(:place).each do |category| %>
                  <div class="card">
                    <table class="bordered">
                      <tr>
                        <th>
                          <%= category.name %>
                        </th>
                        <% (1..category.runs).each do |i| %>
                          <th>
                            <%= i %>
                          </th>
                        <% end %>
                        <th></th>
                      </tr>
                      <% category.parameters.order(:place).each do |parameter| %>
                        <tr>
                          <td width="1%">
                            <%= parameter.name %>
                          </td>
                          <%= fields_for 'results[]', Result.new do |r| %>
                            <% (1..category.runs).each do |i| %>
                              <%= r.hidden_field :parameter_id, :value => parameter.id %>
                              <%= r.hidden_field :run, :value => i %>
                              <% if parameter.id == 1 || parameter.id == 2 || parameter.id == 3 %>
                                <% if parameter.name.start_with?("Peso de 300 granos")%>
                                  <td width="1%">
                                    <%= r.text_field :score, :tabindex=> i, step: :any, :value => 0, min: 0 ,:required => true, :class=>"nontest", :id => "grainWeight"%>
                                  </td>
                                <% elsif !parameter.name.start_with?("Peso de 300 granos") && !parameter.name.start_with?("Humedad")%>
                                  <td width="1%">
                                  <%= r.text_field :score, :tabindex=> i, step: :any,:value => 0, :required => true, :readonly=>true, :class=>"nontest", :id => "averageWeight"%>
                                  </td>
                                <%else%>
                                  <td width="1%">
                                    <%= r.number_field :score, :tabindex=> i, step: :any, :value => 0, min: 0 , :required => true, :class=>"nontest"%>
                                  </td>
                                <%end%>
                              <%else%>
                                <td width="1%">
                                  <%= r.number_field :score, :tabindex=> i, step: :any, :value => 0, min: 0 , :required => true, :class=>"phys"%>
                                </td>
                              <% end %>
                            <% end %>
                          <% end %>
                          <td width="1%">
                            <%= parameter.unit %>
                          </td>
                        </tr>
                      <% end %>
                    </table>
                  </div>
                <% end %>
                <button name="button" tabindex="7" type="button" onclick="alert_phys_test()" class= "waves-effect waves-light_blue btn">Verificar cantidad de granos</button>
              </div>
            </div>
            <%= f.hidden_field :observation, :value => "Ninguna" %>

            <div>
              <%= link_to "Regresar", @batch.entry_control , class: "btn btn-primary"%>
              <%= f.submit "Aceptar", class:"btn btn-default btn-lg", id: "btn-submit", disabled: true%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
 
<script>
  function alert_phys_test()
  {
    var beans = <%=@batch.beans%>;
    var sum = 0;
    $("input[class *= 'phys']").each(function(){
        sum += +$(this).val();
    });
    if(sum < beans && sum >= 0){
      $('#btn-submit').attr('disabled', true);
      Materialize.toast('La cantidad total de granos en el análisis físico no es de ' + beans + '. Es de ' + sum + ' grano(s).', 4000);
    }else if(sum >beans){
      $('#btn-submit').attr('disabled', true);
      Materialize.toast('La cantidad total de granos en el análisis físico no es de '+ beans +'. Es de ' + sum +  ' grano(s).', 4000);
    }else{
      $('#btn-submit').attr('disabled', false);
      Materialize.toast('La cantidad total de granos en el análisis físico es de ' + beans +'.', 4000);
    }
  }
 
  document.getElementById("grainWeight").addEventListener("keyup", average_weight_per_grain);
  document.getElementById("averageWeight").style.color = "black";
 
  function average_weight_per_grain(){
    var beans = <%=@batch.beans%>;
    var weight = document.getElementById("grainWeight").value;
    document.getElementById("averageWeight").value = (weight/beans).toFixed(2);
  }
</script>