<div class="dashboard">
  <div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-content">
          <h1>Analisis de calidad</h1>

          <p>
            Cooperativa/Proveedor:
            <%= @qualityControl.batch.entry_control.organization.name %>
          </p>

          <p>
            Fecha de ingreso:
            <%= @qualityControl.batch.entry_control.entryDate %>
          </p>

          <p>
            Código de muestra:
            <%= @qualityControl.batch.enterCode %>
          </p>

          <p>
            Peso final en libras:
            <%= @qualityControl.batch.weight %>
          </p>

          <p>
            Fecha de corte:
            <%= @qualityControl.cut_at %>
          </p>

          <p>
            Número de hoja:
            <%= @qualityControl.code %>
          </p>

          <p>
            <% if @qualityControl.f_harvest %>
              Primera cosecha
            <% end %>
          </p>

          <p>
            <% if @qualityControl.s_harvest %>
              Segunda cosecha
            <% end %>
          </p>

          <p>
            <% if @qualityControl.trinitary %>
              Trinitario
            <% end %>
          </p>

          <p>
            <% if @qualityControl.outsider %>
              Forastero
            <% end %>
          </p>

          <p>
            Persona responsable:
            <%= @qualityControl.made_by %>
          </p>

          <p>
            Observación:<br>
            <%= @qualityControl.observation %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-content">
          <% Category.all.order(:place).each do |category| %>
            <table class="highlight">
              <tr>
                <th><%= category.name %></th>
                <% (1..category.runs).each do |i| %>
                  <th align="right"><%= i %></th>
                <% end %>
                <th></th>
                <% if category.runs > 1 %>
                  <th>Resultado Promedio</th>
                <% end %>
              </tr>
              <% category.parameters.order(:place).each do |parameter| %>
                <tr>
                  <td width="7%"><%= parameter.name %></td>
                  <% (1..category.runs).each do |i| %>
                    <td width="7%"><%= Result.where(parameter_id: parameter.id, quality_control_id: @qualityControl.id, run: i).first.score %></td>
                  <% end %>
                  <td width="1%"><%= parameter.unit %></td>
                  <% if category.runs > 1 %>
                    <td width="7%"><%= number_with_precision(Result.where(parameter_id: parameter.id, quality_control_id: @qualityControl.id).sum(:score)/3, :presicion => 2) %>%</td>
                  <% end %>
                </tr>
              <% end %>
            </table>
          <% end %>

          <h2>Calidad juzgada:<%=	@new_quality %></h2>
          <% if not Revision.where(quality_control_id: @qualityControl.id).nil? %>
            <a class="waves-effect waves-light btn" data-target="modal1">Determinar Desicion</a>
          <% end %>
          <a class="waves-effect waves-light btn" data-target="modal2">Ver Grafico</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal1" class="modal" style="width: 40% !important ; height: 30% !important ;">
  <%= form_for ([@qualityControl, @qualityControl.build_revision]) do |f| %>
    <div class="modal-content">
      <center>
        <h5>Seleccione:</h5>
        <div class="field">
          <p style="width: 40%"><%= f.select :status, options_for_select([["Aceptar", 1], ["Rechazar", 0]]), class:"dropdown-button btn" %></p>
        </div>
        <%= f.submit 'Aceptar',class:"modal-action modal-close modal-action waves-effect waves-light btn" %>
        <a class="modal-action modal-close waves-effect waves-light red darken-1 btn">Cancelar</a>
      </center>
    </div>
  <% end %>
</div>

<div id="modal2" class="modal">
      <div class="modal-content">
        <div class="col m6">
          <div class="card-panel">
            <center>
              <h5>Analisis Sensorial</h5>
            </center>
            <%= radar_chart  @data, @option %>
          </div>
        </div>
      </div>
</div>

<script>
  $(document).ready(function () {
    $('.modal').modal();
  });
  $('#modal1').modal('open');
  $('#modal1').modal('close');
</script>

<script>
  $(document).on('turbolinks:load', function () {
    $('select').material_select();
  })
</script>
