<div class="container">
  <div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-content">
          <div class="page-header">
            <h1>Análisis de calidad</h1>
          </div>
          <p>
            Cooperativa/Proveedor:
            <%= @batch.entry_control.organization.name %>
          </p>

          <p>
            Fecha de ingreso:
            <%= @batch.entry_control.entryDate %>
          </p>

          <p>
            Código de muestra:
            <%= @batch.enterCode %>
          </p>

          <p>
            Peso final:
            <%= number_with_precision(@batch.weight, precision: 2) %>
            lb
          </p>
          <br>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header section-color white-text text">
                <i class="material-icons">description</i>
                <b>CORTE</b>
              </div>
              <div class="collapsible-body white">
                <p>
                  Número de hoja:
                  <%= @qualityControl.code %>
                </p>

                <p>
                  Fecha de corte:
                  <%= @qualityControl.cut_at %>
                </p>

                <p>
                  Persona responsable:
                  <%= @qualityControl.made_by %>
                </p>

                <p>
                  <% if @qualityControl.f_harvest %>
                    Cosecha: primera (agosto-febrero)
                  <% end %>
                  
                </p>

                <p>
                  <% if @qualityControl.s_harvest %>
                    Cosecha: segunda (marzo-julio)
                    <% end %>
                </p>

                <p>
                  <% if GeneticMaterial.find(@qualityControl.batch.geneticMaterial).name == "HT" %>
                    Variedad: trinitario
                  <% end %>
                  
                </p>

                <p>
                  <% if GeneticMaterial.find(@qualityControl.batch.geneticMaterial).name == "IA" %>
                    Variedad: forastero
                  <% end %>
                </p>

              
              </div>
            </li>
            <li>
              <div class="collapsible-header section-color white-text text">
                <i class="material-icons">dashboard</i>
                <b>ANÁLISIS FÍSICO</b>
              </div>
              <div class="collapsible-body white">
                <% Category.where(sensory: false).order(:place).each do |category| %>
                  <table class="highlight bordered">
                    <tr>
                      <th>
                        <%= category.name %>
                      </th>
                      <% (1..category.runs).each do |i| %>
                        <th align="right">
                          <%= i %>
                        </th>
                      <% end %>
                      <% if category.runs > 1 %>
                        <th>Resultado promedio</th>
                      <% end %>
                    </tr>
                    <% category.parameters.order(:place).each do |parameter| %>
                      <tr>
                        <td width="7%">
                          <%= parameter.name %>
                        </td>
                        <% if category.runs > 1 %>
                          <% (1..category.runs).each do |i| %>
                            <td width="7%">
                              <%= number_with_precision(Result.where(parameter_id: parameter.id, batch_id: @batch.id, run: i).first.score,precision: 0) %>
                            </td>
                          <% end %>
                        <% else %>
                          <td width="7%">
                            <%= number_with_precision(Result.where(parameter_id: parameter.id, batch_id: @batch.id, run: 1).first.score, precision: 2) %>
                            <%= parameter.unit %>
                          </td>
                        <% end %>
                        <% if category.runs > 1 %>
                          <td width="7%">
                          <%if @batch.beans == 300%>
                            <%= number_with_precision(Result.where(parameter_id: parameter.id, batch_id: @batch.id).sum(:score)/3, precision: 2) %>%</td>
                          <% elsif @batch.beans == 150%>
                            <%= number_with_precision(Result.where(parameter_id: parameter.id, batch_id: @batch.id).sum(:score)/1.5, precision: 2) %>%</td>
                          <%else%>
                            <%= number_with_precision(Result.where(parameter_id: parameter.id, batch_id: @batch.id).sum(:score)/(@batch.beans/100), precision: 2) %>%</td>
                          <%end%>
                        <% end %>
                      </tr>
                    <% end %>
                  </table>
                <% end %>
              </div>
            </li>
            <li>
              <div class="collapsible-header section-color white-text text">
                <i class="material-icons">pie_chart</i>
                <b>ANÁLISIS SENSORIAL</b>
              </div>
              <div class="collapsible-body white">
                <% Category.where(sensory: true).order(:place).each do |category| %>
                  <table class="highlight bordered">
                    <tr>
                      <th>
                        <%= category.name %>
                      </th>
                      <% (1..@batch.samples.to_i).each do |i| %>
                        <th align="right">
                          <%= i %>
                        </th>
                      <% end %>
                      <% if @batch.samples.to_i > 1 %>
                        <th>Resultado promedio</th>
                      <% end %>
                    </tr>
                    <% category.parameters.order(:place).each do |parameter| %>
                      <tr>
                        <td width="7%">
                          <%= parameter.name %>
                        </td>
                        <% if @batch.samples.to_i > 1 %>
                          <% (1..@batch.samples.to_i).each do |i| %>
                            <td width="7%">
                              <%= number_with_precision(Result.where(parameter_id: parameter.id, batch_id: @batch.id, run: i).first.score,precision: 0) %>
                            </td>
                          <% end %>
                        <% else %>
                          <td width="7%">
                            <%= number_with_precision(Result.where(parameter_id: parameter.id, batch_id: @batch.id, run: 1).first.score, precision: 2) %>
                            <%= parameter.unit %>
                          </td>
                        <% end %>
                        <% if @batch.samples.to_i > 1 %>
                          <td width="7%">
                          <%= number_with_precision(Result.where(parameter_id: parameter.id, batch_id: @batch.id).sum(:score)/3, precision: 2) %>%</td>
                        <% end %>
                      </tr>
                    <% end %>
                  </table>
                <% end %>
                <br>
                <a class="waves-effect waves-light btn" data-target="modal2">Ver gráfico</a>
              </div>
            </li>

            <li>
              <div class="collapsible-header section-color white-text text">
                <i class="material-icons">short_text</i>
                <b>OBSERVACIÓN</b>
              </div>
              <div class="collapsible-body white">
                <% if current_user.quality_role %>
                  <% if @qualityControl.observation == "Ninguna" %>
                    <%= form_for ([@qualityControl]) do |f| %> 
                      <div class="input-field">
                        <%= f.label :observation, "Observación" %>
                        <%= f.text_area :observation, class:"materialize-textarea", :required => true%>
                      </div>
                      <%= f.submit 'Aceptar',class:" waves-effect waves-light btn" %>
                    <% end %>
                  <% else %>
                    <p>
                      Observación:
                      <%= @qualityControl.observation %>
                    </p>
                  <% end %> 
                <% else %>
                  <p>
                    Observación:
                    <%= @qualityControl.observation %>
                  </p>
                <% end %>                      
              </div>
            </li>

          </ul>
          <h2>Cálidad juzgada:
            <%=	@new_quality %>
          </h2>
          <% if current_user.quality_manager_role %>
            <%= link_to "Regresar", revisions_path , class: "btn btn-primary"%>
          <% else %>
            <%= link_to "Regresar", @batch.entry_control , class: "btn btn-primary"%>
          <% end %>
          <% if current_user.quality_manager_role && !Revision.where(quality_control_id: @qualityControl.id).nil? %>
            <a class="waves-effect waves-light btn" data-target="modal1">Determinar calidad</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<div id="modal1" class="modal" style="width: 40% !important ; height: 40% !important ;">
  <%= form_for ([@qualityControl, @qualityControl.build_revision]) do |f| %>
    <div class="modal-content">
      <center>
        <h2>Cálidad juzgada:
          <%=	@new_quality %>
        </h2>
        <h5>Nueva calidad:</h5>
        <div class="field">
          <p style="width: 40%">
            <%= f.select :status, options_for_select([["A", 1], ["B", 2] , ["C", 3]]), class:"dropdown-button btn" %>
          </p>
        </div>
        <%= f.submit 'Aceptar',class:"modal-action modal-close modal-action waves-effect waves-light btn" %>
        <a class="modal-action modal-close waves-effect waves-light red darken-1 btn">Cancelar</a>
      </center>
    </div>
  <% end %>
</div>

<div id="modal2" class="modal" style="max-height: 100% !important ; overflow-y: hidden !important ;">
  <div class="modal-content">
    <div class="col m6">
      <div class="card-panel">
        <center>
          <h5>Análisis sensorial</h5>
        </center>
        <%= radar_chart  @data, :height => 250 %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('.modal').modal();
  });
  $('#modal1').modal('open');
  $('#modal1').modal('close');
</script>

<script>
  $(document).on('turbolinks:load', function () {
    $('select').material_select();
  })
</script>