<div class="container">
  <div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-content">
          <div class="page-header">
            <h1>Lote</h1>
          </div>

          <%= form_for [@entryControl, @batch] do |f| %>
            <div>
              <table>
                <thead>
                  <tr>
                    <th>Peso en libras</th>
                    <th>Centro de poscosecha</th>
                    <th>Sello</th>
                    <th>Calidad</th>
                    <th>Variedad</th>
                    <th>Comercio justo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th><%= f.number_field :weight, step: :any, min: 0 , :required => true %></th>
                    <th><%= f.text_field :postharvestCenter , :required => true %></th>
                    <th><%= f.collection_select :certificatetype, @certificate, :id, :name, class:"dropdown-button btn" %></th>
                    <th><%= f.collection_select :cocoaType, @cocoa, :id, :name, class:"dropdown-button btn" %></th>
                    <th><%= f.collection_select :geneticMaterial, @genetic, :id, :name, class:"dropdown-button btn" %></th>
                    <th class="chb">
                        <%= f.check_box :ft %>
                        <%= f.label 'ft', "*" %></div>
                    </th>
                    <%= f.hidden_field :samples, step: :any, :value => 1, :required => true %>
                    <%= f.hidden_field :beans, step: :any, :value => 300, :required => true %>
                  </tr>
                </tbody>
              </table>
              
              <p>
                <%= link_to "Regresar", @entryControl , class: "btn btn-primary"%>
                <%= f.submit "Aceptar", class:"btn btn-default btn-lg" %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).on('turbolinks:load', function () {
        $('select').material_select();
    })
</script>

