<h1>Lote</h1>

<%= form_for [@entryControl, @entryControl.batches.build] do |f| %>
	<p>
		<%= f.label :sackAmount, "Cant. sacos" %>
		<%= f.number_field :sackAmount %>
	</p>

	<p>
		<%= f.label :weight, "Peso libras" %>
		<%= f.number_field :weight %>
	</p>

	<p>
		<%= f.label :enterCode, "Código de indentificación" %>
		<%= f.text_field :enterCode %>
	</p>	

	<p>
		<%= f.label :cocoaType, "Tipo de cacao" %>
		<%= f.collection_select :cocoaType, @cocoa, :id, :name, :prompt => "Seleccione el tipo de cacao", class:"dropdown-button btn" %>
	</p>	

	<p>
		<%= f.label :geneticMaterial, "Material genético" %>
    <%= select_tag "Material Genetico", options_from_collection_for_select(GeneticMaterial.all, "id", "name") %>
  </p>

	<p>
		<%= f.submit "Aceptar", class:"btn btn-default btn-lg" %>
	</p>
<% end %>