<div class="dashboard">
  <div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-content">
         <h1>Lote</h1>
          <%= form_for [@entryControl, @entryControl.batches.build] do |f| %>
          <p>
            <%= f.label :sackAmount, "Cant. sacos" %>
            <%= f.number_field :sackAmount %>
          </p>

          <p>
            <%= f.label :weight, "Peso libras" %>
            <%= f.number_field :weight, step: :any %>
          </p>

          <p>
            <%= f.label :enterCode, "Código de indentificación" %>
            <%= f.text_field :enterCode %>
          </p>

          <p>
            <%= f.label :cocoaType, "Tipo de cacao" %>
            <%= f.collection_select :cocoaType, @cocoa, :id, :name, :prompt => "Seleccione el tipo de cacao", class:"dropdown-button btn" %>
          </p>

          <p>
            <%= f.label :geneticMaterial, "Material genético" %>
            <%= f.collection_select :geneticMaterial, @genetic, :id, :name, :prompt => "Seleccione el tipo de material genético", class:"dropdown-button btn" %>
          </p>

          <p>
            <%= f.submit "Aceptar", class:"btn btn-default btn-lg" %>
          </p>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
	$(document).on('turbolinks:load', function() {
	  $('select').material_select();
	}) 
</script>