<div class="dashboard">
    <h1>Informacion</h1>
    <div class="form-signup">
        <div class="row">
            <div class="col m12">
                <div class="card">
                    <div class="card-content">
                        <p>Nombre: <%= @organization.name%></p>
                    </div> 
                </div> 
            </div> 
         </div>    
    </div> 

    <div class="form-signup">
        <div class="row">
            <div class="col m12">
                <div class="card">
                    <div class="card-content">
                    <h2>Controles de Ingreso</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Recibido por</th>
                                    <th>Entregado por</th>
                                    <th>Fecha de Ingreso</th>
                                </tr>
                                </thead>
                            <tbody>
                                <% @entries.each do |entry| %>
                                    <tr>
                                        <td><%= entry.id%></td>
                                        <td><%= entry.receivedBy%></td>
                                        <td><%= entry.deliveredBy%></td>
                                        <td><%= entry.entryDate%></td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= link_to 'Regresar', organizations_path, class:"waves-effect waves-light btn"%>
    <%= link_to 'Crear Control de Ingreso', new_entry_control_path , class:"waves-effect waves-light btn"%>
</div>