<!DOCTYPE html>
<hlml>
  <head>
    <title></title>
    <%= wicked_pdf_stylesheet_link_tag "application" -%>
  </head>
  <body>
    <table>
      <thead>
      <tr>
        <th>Cantidad de sacos</th>
        <th>Peso</th>
        <th>Codigo de identificacion</th>
        <th>Tipo de cacao</th>
        <th>Material genetico</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @entries.each  do |entry| %>
          <% entry.batches.each do |batch| %>
              <tr>
                <td><%= batch.sackAmount %></td>s
                <td><%= number_with_precision(batch.weight, precision: 2) %> lb</td>
                <td><%= batch.enterCode %></td>
                <td><%= CocoaType.find(batch.cocoaType).name %></td>
                <td><%= GeneticMaterial.find(batch.geneticMaterial).name %></td>
                <td><%= batch.entry_control.organization.name %></td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </body>
</hlml>