<!DOCTYPE html>
<hlml>
  <head>
    <title></title>
    <%= wicked_pdf_stylesheet_link_tag "pdf" %>
  </head>
  <body>
    <center>
      <h1>Chocolats Halba</h1>
      <h1>Reporte</h1>
    </center>
    <table class = "striped">
      <thead>
      <tr>
        <th>Cant. sacos</th>
        <th>Peso</th>
        <th>Identificacion</th>
        <th>Tipo de cacao</th>
        <th>Material genetico</th>
        <th>Proveedor</th>
      </tr>
      </thead>
      <tbody>
      <% @entries.each  do |entry| %>
          <% entry.batches.each do |batch| %>
              <%	 if batch.quality_control != nil %>
                  <%	if batch.quality_control.revision != nil %>
                      <tr>
                        <%	 if  params[:purchased].to_s != "on" && params[:quality] == "" %>
                            <%	if batch.purchase == nil %>
                                <td><%= batch.sackAmount %></td>
                                <td><%= number_with_precision(batch.weight, precision: 2) %> lb</td>
                                <td><%= batch.enterCode %></td>
                                <td><%= CocoaType.find(batch.quality_control.revision.status).name %></td>
                                <td><%= GeneticMaterial.find(batch.geneticMaterial).name %></td>
                                <td><%= batch.entry_control.organization.name %></td>
                            <%	end %>
                        <%	end %>
                        <%	 if params[:purchased].to_s == "on" && params[:quality] == "" %>
                            <%	if batch.purchase != nil %>
                                <%	if batch.purchase.decision == 1 %>
                                    <td><%= batch.sackAmount %></td>
                                    <td><%= number_with_precision(batch.weight, precision: 2) %> lb</td>
                                    <td><%= batch.enterCode %></td>
                                    <td><%= CocoaType.find(batch.quality_control.revision.status).name %></td>
                                    <td><%= GeneticMaterial.find(batch.geneticMaterial).name %></td>
                                    <%	 if params[:searchbox] == "" %>
                                        <td><%= batch.entry_control.organization.name %></td>
                                    <%	 end %>
                                <%  end %>
                            <%  end %>
                        <%	end %>
                        <%	 if params[:purchased].to_s != "on" && params[:quality] != "" %>
                            <%	 if batch.quality_control != nil %>
                                <%	 if batch.quality_control.revision != nil %>
                                    <%	 if batch.quality_control.revision.status == params[:quality].to_i %>
                                        <%	if batch.purchase == nil %>
                                            <td><%= batch.sackAmount %></td>
                                            <td><%= number_with_precision(batch.weight, precision: 2) %> lb</td>
                                            <td><%= batch.enterCode %></td>
                                            <td><%= CocoaType.find(batch.quality_control.revision.status).name %></td>
                                            <td><%= GeneticMaterial.find(batch.geneticMaterial).name %></td>
                                            <%	 if params[:searchbox] == "" %>
                                                <td><%= batch.entry_control.organization.name %></td>
                                            <%	 end %>
                                        <%	 end %>
                                    <%	 end %>
                                <%	 end %>
                            <%	 end %>
                        <%	end %>
                        <%	 if  params[:purchased].to_s == "on" && params[:quality] != "" %>
                            <%	 if batch.quality_control != nil %>
                                <%	 if batch.quality_control.revision != nil %>
                                    <%	 if batch.quality_control.revision.status == params[:quality].to_i %>
                                        <%	if batch.purchase != nil %>
                                            <%	if batch.purchase.decision == 1 %>
                                                <td><%= batch.sackAmount %></td>
                                                <td><%= number_with_precision(batch.weight, precision: 2) %> lb</td>
                                                <td><%= batch.enterCode %></td>
                                                <td><%= CocoaType.find(batch.quality_control.revision.status).name %></td>
                                                <td><%= GeneticMaterial.find(batch.geneticMaterial).name %></td>
                                                <%	 if params[:searchbox] == "" %>
                                                    <td><%= batch.entry_control.organization.name %></td>
                                                <%	 end %>
                                            <% end %>
                                        <% end %>
                                    <%	 end %>
                                <%	 end %>
                            <%	 end %>
                        <%	end %>
                      </tr>
                  <% end %>
              <% end %>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </body>
</hlml>