<!DOCTYPE html>
<html>
  <head>
    <title>Chocolats Halba</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if current_user %>
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">Chocolats Halba</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
              <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
              <li>
                <a rel="nofollow" data-method="delete" href="/users/sign_out">Salir</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <ul class="side-nav" id="mobile-demo">
        <% if not current_user.admin_role %>
            
            <% if current_user.warehouse_role  %>
                <li><a id="pagename" class="white-text"><i class="material-icons white-text">archive</i>Bodega</a><li>
                <li><%= link_to 'Inventario', inventories_path , class:"white-text li-back"%></li>
                <li><%= link_to 'Control de ingreso', organizations_path, class:"white-text li-back"%></li>
                <% if  Notification.where(kind: 3, read: false).count == 1 %>
                    <span class="new badge" data-badge-caption="nuevo"><%= Notification.where(kind: 3, read: false).count %></span>
                <% elsif  Notification.where(kind: 3, read: false).count > 1 %>
                    <span class="new badge" data-badge-caption="nuevos"><%= Notification.where(kind: 3, read: false).count %></span>
                <% end %>
                <li><%= link_to 'Controles de Ingreso', "/quality_controls",class:"white-text li-back"%></li>
                <li><%= link_to 'Mover lotes', batches_moveBatches_path,class:"white-text li-back"%></li>
                
            <% end %>
            
            <% if current_user.quality_manager_role  %>
                <li><a id="pagename" class="white-text"><i class="material-icons white-text">assignment_ind</i>Jefe de calidad</a><li>
              <% if  Notification.where(kind: 2, read: false).count == 1 %>
                <span class="new badge" data-badge-caption="nuevo"><%= Notification.where(kind: 2, read: false).count %></span>
              <% elsif  Notification.where(kind: 2, read: false).count > 1 %>
                <span class="new badge" data-badge-caption="nuevos"><%= Notification.where(kind: 2, read: false).count %></span>
              <% end %>
              <li><%= link_to 'Revisiones', revisions_path, class:"white-text li-back"%></li>
            <% end %>
            
            <% if current_user.quality_role  %>
                <li><a id="pagename" class="white-text"><i class="material-icons white-text">assessment</i>Calidad</a><li>
              <% if  Notification.where(kind: 1, read: false).count == 1 %>
                <span class="new badge" data-badge-caption="nuevo"><%= Notification.where(kind: 1, read: false).count %></span>
              <% elsif  Notification.where(kind: 1, read: false).count > 1 %>
                <span class="new badge" data-badge-caption="nuevos"><%=	Notification.where(kind: 1, read: false).count %></span>
              <% end %>
              <li><%= link_to 'Análisis', '/sequence', class:"white-text li-back"%></li>
              <li><%= link_to 'Unir lotes', export_batches_join_path, class:"white-text li-back"%></li>
            <% end %>
            
            <% if current_user.certification_role  %>
                <li><a id="pagename" class="white-text"><i class="material-icons white-text">beenhere</i>Certificación</a><li>
                <% if  Notification.where(kind: 4, read: false).count == 1 %>
                    <span class="new badge" data-badge-caption="nuevo"><%=	Notification.where(kind: 4, read: false).count  %></span>
                <% elsif  Notification.where(kind: 4, read: false).count > 1 %>
                    <span class="new badge" data-badge-caption="nuevos"><%=	Notification.where(kind: 4, read: false).count %></span>
                <% end %>
                <li><%= link_to 'Revisión de lotes', checkings_path, class:"white-text li-back"%></li>
            <% end %>
            
            <% if current_user.purchase_role  %>
                <li><a id="pagename" class="white-text"><i class="material-icons white-text">shopping_cart</i>Compras</a><li>
                <% if  Notification.where(kind: 5, read: false).count == 1 %>
                    <span class="new badge" data-badge-caption="nuevo"><%=	Notification.where(kind: 5, read: false).count  %></span>
                <% elsif  Notification.where(kind: 5, read: false).count > 1 %>
                    <span class="new badge" data-badge-caption="nuevos"><%=	Notification.where(kind: 5, read: false).count %></span>
                <% end %>
                <li><%= link_to 'Compra de lotes', purchases_path, class:"white-text li-back"%></li>
                <% if  Invoice.where(paid: false).count == 1 %>
                    <span class="new badge" data-badge-caption="nuevo"><%=	Invoice.where(paid: false).count  %></span>
                <% elsif Invoice.where(paid: false).count > 1 %>
                    <span class="new badge" data-badge-caption="nuevos"><%=	Invoice.where(paid: false).count %></span>
                <% end %>
                <li><%= link_to 'Facturas', invoices_path, class:"white-text li-back"%></li>
            <% end %>
            
            <% if current_user.administration_role  %>
                <li><a id="pagename" class="white-text"><i class="material-icons white-text">assignment</i>Administración</a></li>
                <li><%= link_to 'Etapas' , static_pages_stages_path,class:"white-text li-back"%></li>
                <li><%= link_to 'Lotes de exportación', export_batches_path , class:"white-text li-back"%></li>
                <li><%= link_to 'Reportes', reports_path , class:"white-text li-back"%></li>
                <li><%= link_to 'Trazabilidad', static_pages_traceability_path , class:"white-text li-back"%></li>
            <% end %>
          <li>
            <a class="white-text" rel="nofollow" data-method="delete" href="/users/sign_out"><i class="material-icons white-text">exit_to_app</i>Salir</a>
          </li>
        <% else %>
            <div>
            <li>
              <ul class="collapsible collapsible-accordion">
                <li><a class="collapsible-header white-text"><i class="material-icons white-text">dashboard</i>Admin</a>
                  <div class="collapsible-body">
                    <ul>
                      <li class="selection"><%= link_to 'Administración', rails_admin_path, class:"white-text li-back"%></li>
                    </ul>
                  </div>
                </li>
                <li><a class="collapsible-header white-text"><i class="material-icons white-text">archive</i>Bodega</a>
                  <div class="collapsible-body">
                    <ul>
                      <li class="selection"><%= link_to 'Control de ingreso', organizations_path, class:"white-text li-back"%></li>
                      <% if  Notification.where(kind: 3, read: false).count == 1 %>
                          <span class="new badge" data-badge-caption="nuevo"><%= Notification.where(kind: 3, read: false).count %></span>
                      <% elsif  Notification.where(kind: 3, read: false).count > 1 %>
                          <span class="new badge" data-badge-caption="nuevos"><%= Notification.where(kind: 3, read: false).count %></span>
                      <% end %>
                      <li class="selection"><%= link_to 'Mover lotes', batches_moveBatches_path,class:"white-text li-back"%></li>
                    </ul>
                  </div>
                </li>
                <li><a class="collapsible-header white-text"><i class="material-icons white-text">assignment_ind</i>Jefe de Calidad</a>
                  <div class="collapsible-body">
                    <ul>
                      <% if  Notification.where(kind: 2, read: false).count == 1 %>
                          <span class="new badge" data-badge-caption="nuevo"><%= Notification.where(kind: 2, read: false).count %></span>
                      <% elsif  Notification.where(kind: 2, read: false).count > 1 %>
                          <span class="new badge" data-badge-caption="nuevos"><%= Notification.where(kind: 2, read: false).count %></span>
                      <% end %>
                      <li class="selection"><%= link_to 'Revisiones', revisions_path, class:"white-text li-back"%></li>
                    </ul>
                  </div>
                </li>
                <li><a class="collapsible-header white-text"><i class="material-icons white-text">assessment</i>Calidad</a>
                  <div class="collapsible-body">
                    <ul>
                      <% if  Notification.where(kind: 1, read: false).count == 1 %>
                          <span class="new badge" data-badge-caption="nuevo"><%= Notification.where(kind: 1, read: false).count %></span>
                      <% elsif  Notification.where(kind: 1, read: false).count > 0 %>
                          <span class="new badge" data-badge-caption="nuevos"><%=	Notification.where(kind: 1, read: false).count %></span>
                      <% end %>
                      <li class="selection"><%= link_to 'Análisis', quality_controls_path, class:"white-text li-back"%></li>
                      <li class="selection"><%= link_to 'Unir lotes', export_batches_join_path, class:"white-text li-back"%></li>
                    </ul>
                  </div>
                </li>
                <li><a class="collapsible-header white-text"><i class="material-icons white-text">beenhere</i>Certificación</a>
                  <div class="collapsible-body">
                    <ul>
                      <% if  Notification.where(kind: 4, read: false).count == 1 %>
                          <span class="new badge" data-badge-caption="nuevo"><%=	Notification.where(kind: 4, read: false).count  %></span>
                      <% elsif  Notification.where(kind: 4, read: false).count > 1 %>
                          <span class="new badge" data-badge-caption="nuevos"><%=	Notification.where(kind: 4, read: false).count %></span>
                      <% end %>
                      <li class="selection"><%= link_to 'Revisión de lotes', checkings_path, class:"white-text li-back"%></li>
                    </ul>
                  </div>
                </li>
                <li><a class="collapsible-header white-text"><i class="material-icons white-text">shopping_cart</i>Compras</a>
                  <div class="collapsible-body">
                    <ul>
                      <% if  Notification.where(kind: 5, read: false).count == 1 %>
                          <span class="new badge" data-badge-caption="nuevo"><%=	Notification.where(kind: 5, read: false).count  %></span>
                      <% elsif  Notification.where(kind: 5, read: false).count > 1 %>
                          <span class="new badge" data-badge-caption="nuevos"><%=	Notification.where(kind: 5, read: false).count %></span>
                      <% end %>
                      <li class="selection"><%= link_to 'Compra de lotes', purchases_path, class:"white-text li-back"%></li>
                      <% if  Invoice.where(paid: false).count == 1 %>
                          <span class="new badge" data-badge-caption="nuevo"><%=	Invoice.where(paid: false).count  %></span>
                      <% elsif Invoice.where(paid: false).count > 1 %>
                          <span class="new badge" data-badge-caption="nuevos"><%=	Invoice.where(paid: false).count %></span>
                      <% end %>
                      <li class="selection"><%= link_to 'Facturas', invoices_path, class:"white-text li-back"%></li>
                    </ul>
                  </div>
                </li>
                <li><a class="collapsible-header white-text"><i class="material-icons white-text">assignment</i>Administración</a>
                  <div class="collapsible-body">
                    <ul>
                      <li><%= link_to 'Etapas' , static_pages_stages_path,class:"white-text li-back"%></li>
                      <li><%= link_to 'Lotes de exportación', export_batches_path , class:"white-text li-back"%></li>
                      <li><%= link_to 'Reportes', reports_path , class:"white-text li-back"%></li>
                      <li><%= link_to 'Trazabilidad', static_pages_traceability_path , class:"white-text li-back"%></li>
                    </ul>
                  </div>
                </li>
                <li><a class="collapsible-header white-text" rel="nofollow" data-method="delete" href="/users/sign_out"><i class="material-icons white-text">exit_to_app</i>Salir</a></li>
              </ul>
            </li>
            </div>
        <% end %>
      </ul>

      <ul class="side-nav fixed">
        <% if not current_user.admin_role %>
          <% if current_user.warehouse_role  %>
            <li><a class="white-text"><i class="material-icons white-text">archive</i>Bodega</a><li>
            <li><%= link_to 'Control de ingreso',organizations_path, class:"white-text li-back"%></li>
            <% if  Notification.where(kind: 3, read: false).count == 1 %>
              <span class="new badge" data-badge-caption="nuevo"><%= Notification.where(kind: 3, read: false).count %></span>
            <% elsif  Notification.where(kind: 3, read: false).count > 1 %>
              <span class="new badge" data-badge-caption="nuevos"><%= Notification.where(kind: 3, read: false).count %></span>
            <% end %>
            <li><%= link_to 'Mover lotes', batches_moveBatches_path,class:"white-text li-back"%></li>
            <li><%= link_to 'Lista de Lotes', "/quality_controls",class:"white-text li-back"%></li>
            <li><%= link_to 'Inventario', inventories_path , class:"white-text li-back"%></li>
          <% end %>
          <% if current_user.quality_manager_role  %>
            <li><a class="white-text"><i class="material-icons white-text">assignment_ind</i>Jefe de calidad</a><li>
            <% if  Notification.where(kind: 2, read: false).count == 1 %>
              <span class="new badge" data-badge-caption="nuevo"><%= Notification.where(kind: 2, read: false).count %></span>
            <% elsif  Notification.where(kind: 2, read: false).count > 1 %>
              <span class="new badge" data-badge-caption="nuevos"><%= Notification.where(kind: 2, read: false).count %></span>
            <% end %>
            <li><%= link_to 'Revisiones', revisions_path, class:"white-text li-back"%></li>
          <% end %>
          <% if current_user.quality_role  %>
            <li><a class="white-text"><i class="material-icons white-text">assessment</i>Calidad</a><li>
            <% if  Notification.where(kind: 1, read: false).count == 1 %>
              <span class="new badge" data-badge-caption="nuevo"><%= Notification.where(kind: 1, read: false).count %></span>
            <% elsif  Notification.where(kind: 1, read: false).count > 0 %>
              <span class="new badge" data-badge-caption="nuevos"><%=	Notification.where(kind: 1, read: false).count %></span>
            <% end %>
            <li><%= link_to 'Análisis', sequences_path,:method => :post , class:"white-text li-back"%></li>
            <li><%= link_to 'Unir lotes', export_batches_join_path, class:"white-text li-back"%></li>
          <% end %>
          <% if current_user.certification_role  %>
            <li><a class="white-text"><i class="material-icons white-text">beenhere</i>Certificación</a><li>
            <% if  Notification.where(kind: 4, read: false).count == 1 %>
                <span class="new badge" data-badge-caption="nuevo"><%=	Notification.where(kind: 4, read: false).count  %></span>
            <% elsif  Notification.where(kind: 4, read: false).count > 1 %>
                <span class="new badge" data-badge-caption="nuevos"><%=	Notification.where(kind: 4, read: false).count %></span>
            <% end %>
            <li><%= link_to 'Revisión de lotes', checkings_path, class:"white-text li-back"%></li>
          <% end %>
          <% if current_user.purchase_role  %>
            <li><a class="white-text"><i class="material-icons white-text">shopping_cart</i>Compras</a><li>
            <% if  Notification.where(kind: 5, read: false).count == 1 %>
                <span class="new badge" data-badge-caption="nuevo"><%=	Notification.where(kind: 5, read: false).count  %></span>
            <% elsif  Notification.where(kind: 5, read: false).count > 1 %>
                <span class="new badge" data-badge-caption="nuevos"><%=	Notification.where(kind: 5, read: false).count %></span>
            <% end %>
            <li><%= link_to 'Compra de lotes', purchases_path, class:"white-text li-back"%></li>
            <% if  Invoice.where(paid: false).count == 1 %>
                <span class="new badge" data-badge-caption="nuevo"><%=	Invoice.where(paid: false).count  %></span>
            <% elsif Invoice.where(paid: false).count > 1 %>
                <span class="new badge" data-badge-caption="nuevos"><%=	Invoice.where(paid: false).count %></span>
            <% end %>
            <li><%= link_to 'Facturas', invoices_path, class:"white-text li-back"%></li>
          <% end %>
          <% if current_user.administration_role  %>
            <li><a class="white-text"><i class="material-icons white-text">assignment</i>Administración</a></li>
              <li><%= link_to 'Etapas' , static_pages_stages_path,class:"white-text li-back"%></li>
              <li><%= link_to 'Lotes de exportación', export_batches_path , class:"white-text li-back"%></li>
              <li><%= link_to 'Reportes', reports_path , class:"white-text li-back"%></li>
              <li><%= link_to 'Trazabilidad', static_pages_traceability_path , class:"white-text li-back"%></li>
          <% end %>
        <% else %>
            <div>
            <li>
              <ul class="collapsible collapsible-accordion">
                <li><a  id="pagename" class="collapsible-header white-text"><i class="material-icons white-text">dashboard</i>Admin</a>
                  <div class="collapsible-body">
                    <ul>
                      <li class="selection"><%= link_to 'Administración', rails_admin_path, class:"white-text li-back"%></li>
                    </ul>
                  </div>
                </li>
                <li><a class="collapsible-header white-text"><i class="material-icons white-text">archive</i>Bodega</a>
                  <div class="collapsible-body">
                    <ul>
                      <li class="selection"><%= link_to 'Control de ingreso', organizations_path, class:"white-text li-back"%></li>
                      <% if  Notification.where(kind: 3, read: false).count == 1 %>
                          <span class="new badge" data-badge-caption="nuevo"><%= Notification.where(kind: 3, read: false).count %></span>
                      <% elsif  Notification.where(kind: 3, read: false).count > 1 %>
                          <span class="new badge" data-badge-caption="nuevos"><%= Notification.where(kind: 3, read: false).count %></span>
                      <% end %>
                      <li class="selection"><%= link_to 'Mover lotes', batches_moveBatches_path,class:"white-text li-back"%></li>
                    </ul>
                  </div>
                </li>
                <li><a class="collapsible-header white-text"><i class="material-icons white-text">assignment_ind</i>Jefe de Calidad</a>
                  <div class="collapsible-body">
                    <ul>
                      <% if  Notification.where(kind: 2, read: false).count == 1 %>
                          <span class="new badge" data-badge-caption="nuevo"><%= Notification.where(kind: 2, read: false).count %></span>
                      <% elsif  Notification.where(kind: 2, read: false).count > 1 %>
                          <span class="new badge" data-badge-caption="nuevos"><%= Notification.where(kind: 2, read: false).count %></span>
                      <% end %>
                      <li class="selection"><%= link_to 'Revisiones', revisions_path, class:"white-text li-back"%></li>
                    </ul>
                  </div>
                </li>
                <li><a class="collapsible-header white-text"><i class="material-icons white-text">assessment</i>Calidad</a>
                  <div class="collapsible-body">
                    <ul>
                      <% if  Notification.where(kind: 1, read: false).count == 1 %>
                          <span class="new badge" data-badge-caption="nuevo"><%= Notification.where(kind: 1, read: false).count %></span>
                      <% elsif  Notification.where(kind: 1, read: false).count > 0 %>
                          <span class="new badge" data-badge-caption="nuevos"><%=	Notification.where(kind: 1, read: false).count %></span>
                      <% end %>
                      <li class="selection"><%= link_to 'Análisis', quality_controls_path, class:"white-text li-back"%></li>
                      <li class="selection"><%= link_to 'Unir lotes', export_batches_join_path, class:"white-text li-back"%></li>
                      </ul>
                  </div>
                </li>
                <li><a class="collapsible-header white-text"><i class="material-icons white-text">beenhere</i>Certificación</a>
                  <div class="collapsible-body">
                    <ul>
                      <% if  Notification.where(kind: 4, read: false).count == 1 %>
                          <span class="new badge" data-badge-caption="nuevo"><%=	Notification.where(kind: 4, read: false).count  %></span>
                      <% elsif  Notification.where(kind: 4, read: false).count > 1 %>
                          <span class="new badge" data-badge-caption="nuevos"><%=	Notification.where(kind: 4, read: false).count %></span>
                      <% end %>
                      <li class="selection"><%= link_to 'Revisión de lotes', checkings_path, class:"white-text li-back"%></li>
                    </ul>
                  </div>
                </li>
                <li><a class="collapsible-header white-text"><i class="material-icons white-text">shopping_cart</i>Compras</a>
                  <div class="collapsible-body">
                    <ul>
                      <% if  Notification.where(kind: 5, read: false).count == 1 %>
                          <span class="new badge" data-badge-caption="nuevo"><%=	Notification.where(kind: 5, read: false).count  %></span>
                      <% elsif  Notification.where(kind: 5, read: false).count > 1 %>
                          <span class="new badge" data-badge-caption="nuevos"><%=	Notification.where(kind: 5, read: false).count %></span>
                      <% end %>
                      <li class="selection"><%= link_to 'Compra de lotes', purchases_path, class:"white-text li-back"%></li>
                      <% if  Invoice.where(paid: false).count == 1 %>
                          <span class="new badge" data-badge-caption="nuevo"><%=	Invoice.where(paid: false).count  %></span>
                      <% elsif Invoice.where(paid: false).count > 1 %>
                          <span class="new badge" data-badge-caption="nuevos"><%=	Invoice.where(paid: false).count %></span>
                      <% end %>
                      <li class="selection"><%= link_to 'Facturas', invoices_path, class:"white-text li-back"%></li>
                    </ul>
                  </div>
                </li>
                <li><a class="collapsible-header white-text"><i class="material-icons white-text">assignment</i>Administración</a>
                  <div class="collapsible-body">
                    <ul>
                      <li><%= link_to 'Etapas' , static_pages_stages_path,class:"white-text li-back"%></li>
                      <li><%= link_to 'Lotes de exportación', export_batches_path , class:"white-text li-back"%></li>
                      <li><%= link_to 'Reportes', reports_path , class:"white-text li-back"%></li>
                      <li><%= link_to 'Trazabilidad', static_pages_traceability_path , class:"white-text li-back"%></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            </div>
        <% end %>
      </ul>
    </header>
  <% end %>
  <body>
    <div>
      <% if current_user %>
        <% if notice %>
          <p class="alert alert-success">
            <script>
              $(function () {
                Materialize.toast("<%= notice %>", 3000);
              });
            </script>
          </p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger">
            <script>
              $(function () {
                Materialize.toast("<%= alert %>", 3000);
              });
            </script>
          </p>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
  <script>
    $(".button-collapse").sideNav();
  </script>
</html>
